{% extends 'main/base.html' %}
{% block body %}
{% load filename %}
<h1>Track</h1>
{% if request.user|has_group:"Supplier" %}

    <h3>Enter your information to get the label</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizon" action="" method="post" enctype="">
                            {% csrf_token %}

                            {% include 'main/form_template.html' %}

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% elif request.user|has_group:"Buyer" %}
    {{ shipment.status }}
{% endif %}
    {{ shipment.tracking_number }}
{% endblock %}